@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {

  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --font-family: 'Outfit', sans-serif;
  --font-size-body: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 24px;
  gap: 20px;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.card {
  background-color: var(--white);
  max-width: 320px;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.card-title {
  color: var(--slate-900);
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 16px;
  padding: 0 16px;
}

.card-text {
  color: var(--slate-500);
  font-weight: 400;
  margin-bottom: 24px;
  padding: 0 16px;
}

.attribution { 
  font-size: 13px; 
  text-align: center;
  color: var(--slate-500);
  line-height: 1.6;
}


.attribution span {
  display: block; 
}

.attribution a { 
  color: var(--slate-900);
  font-weight: 700;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}